* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  padding: 20px;
  background-color: blanchedalmond;

  font-family: "Rubik", sans-serif;

  font-weight: 300;
  font-size: larger;
}
.container {
  height: 100%;
  width: 50vh;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.137);
  margin: 20px auto;
  box-shadow: 0px 0px 20px black;
}
.slot {
  text-align: center;

  padding: 20px;
  border-bottom: 1px solid black;
}
.text {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
}
